<!DOCTYPE html>
<html>
<head>
    <% include header.ejs %>
    <link rel="stylesheet" href="/css/custom/asset_detail.css">
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <% include components/sidebar.ejs %>

        <!-- top navigation -->
        <% include components/nav.ejs %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div id="toolbar" class="btn-group">
                <button id="btn_add" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                </button>
                <button id="btn_delete" type="button" class="btn btn-secondary">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                </button>
                <button id="btn_delete" type="button" class="btn btn-secondary">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>保存
                </button>
                <div class="switch table_view_toggle">
                    <input type="checkbox" id="tableview-mode" checked>
                </div>
            </div>
            <div class="container">
                <table id="tb_assets" class="table table-bordered table-hover"></table>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include footer.ejs %>
        <!-- /footer content -->
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加资产</h4>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    <div class="x_content">
                        <br />
                        <form id="add-asset-form" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">SN <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">资产类型 <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select id="asset-types-select" class="form-control" required>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">采购时间 <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class='input-group date' id='purchasepicker'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">说明</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                     <textarea id="message" style="resize:vertical;" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100"
                                               data-parsley-validation-threshold="10"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btn_add_asset">确认</button>
            </div>
        </div>
    </div>
</div>

<% include common.ejs %>

<script type="text/javascript" src="/js/asset_detail.js"></script>
</body>
</html>