
  <head>
    <meta charset="utf-8">
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    &lt;!&ndash; Meta, title, CSS, favicons, etc. &ndash;&gt;
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">-->

    <title><%= title %></title>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nprogress.css" >
    <link rel="stylesheet" href="/css/bootstrap-progressbar.min.css">
    <link rel="stylesheet" href="/css/daterangepicker.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/css/bootstrap-editable.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/jquery-confirm.min.css">
    <link rel="stylesheet" href="/css/jqvmap.min.css"/>

    <link rel="stylesheet" href="/css/custom.css">
  </head>

