<!DOCTYPE html>
<html>
<% include header.ejs %>
<body>
<% include components/nav.ejs %>

<div class="container-fluid">
    <div class="row">
        <% include components/sidebar.ejs %>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <div id="toolbar" class="btn-group">
                <button id="btn_add" type="button" class="btn btn-secondary">
                    <span class="fa fa-plus" aria-hidden="true"></span>新增
                </button>
                <button id="btn_edit" type="button" class="btn btn-secondary">
                    <span class="fa fa-pencil" aria-hidden="true"></span>修改
                </button>
                <button id="btn_delete" type="button" class="btn btn-secondary">
                    <span class="fa fa-remove" aria-hidden="true"></span>删除
                </button>
            </div>
            <div class="container">
                <table id="tb_assets" class="table table-bordered table-hover"></table>
            </div>
        </main>
    </div>
</div>

<% include common.ejs %>
<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>