<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/welcome" class="site_title"><i class="fa fa-grav"></i> <span>轩辕</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="/img/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <h2><%= user.nick %></h2>
                <span><%= user.type %></span>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>常用办公</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-edit"></i> 表单 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a>信息系统<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu"><a href="#">导入导出</a>
                                    </li>
                                    <li><a href="#">设备借还</a>
                                    </li>
                                    <li><a href="#">设备采购</a>
                                    </li>
                                    <li><a href="#">打印复印</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a>人员<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu"><a href="#">出国</a>
                                    </li>
                                    <li><a href="#">个人证明</a>
                                    </li>
                                    <li><a href="#">入/离职</a>
                                    </li>
                                    <li><a href="#">公司证明用章</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">会议</a></li>
                            <li><a href="#">教育培训</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-desktop"></i> 软件 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#">工具</a></li>
                            <li><a href="#">系统补丁</a></li>
                            <li><a href="#">病毒库</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-desktop"></i> 小工具 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#">日历</a></li>
                            <li><a href="#">邮箱</a></li>
                            <li><a href="#">通讯录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu_section">
                <h3>运维</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> 资产 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/asset/stat">统计</a></li>
                            <li><a href="/asset/detail">明细</a></li>
                            <li><a href="/asset/label">标签</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-desktop"></i> 网盘 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#">软件白名单</a></li>
                            <li><a href="#">工具库</a></li>
                            <li><a href="#">系统补丁库</a></li>
                            <li><a href="#">病毒库</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu_section">
                <h3>后台</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> 财务 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/asset/stat">报销</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-home"></i> 商务 <span class="fa fa-chevron-down"></span></a>
                    </li>
                    <li><a><i class="fa fa-home"></i> 人事 <span class="fa fa-chevron-down"></span></a>
                    </li>
                </ul>
            </div>
            <div class="menu_section">
                <h3>系统</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> 在线帮助 </a>
                    </li>
                    <li><a><i class="fa fa-edit"></i> 关于</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="/login">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>